<h1>New User</h1>

<div class="wrap-center">
	<% if @user.errors.any? %>
		<%= pluralize(@user.errors.count, "error") %>
		prohibited user from being created:
		<% @user.errors.full_messages.each do |msg| %>
			<ul>
				<li><%= msg %></li>
			</ul>
		<% end %>
	<% end %>

	<%= form_for @user do |f| %>

	<p>
		<%= f.text_field :username, placeholder: 'name' %>
	</p>

	<p>
		<%= f.text_field :email, placeholder: 'email' %>
	</p>

	<p>
		<%= f.password_field :password, placeholder: 'password' %>
	</p>



	<%= f.submit 'Sign Up' %>

	<% end %>

</div>