<h1>Timeentry Index</h1>

<h2><%=  (Time.now).strftime("%A, %b %d")%></h2>

<%= link_to 'New Entry', new_timeentry_path %>

<table>
	<% @timee.each do |t| %>
	<tr>
		<td><%= t.task.task_name %> (<%= t.project.project_name %>)  </td>
	</tr>
	<tr>
		<td><%= t.note %></td>
		<td><%= t.duration %></td>
		<td><%= link_to 'Start', start_timer_path(t), :method => :patch %></td>
		<td><%= link_to 'Edit', edit_timeentry_path(t) %></td>
	</tr>
	<% end %>
	<tr>
		<td></td>
		<td>Total: <%= @t %></td>
	</tr>
</table>

<p>
	Download:
	<%= link_to 'CSV', timeentries_path(format: 'csv') %> |
	<%= link_to 'Excel', timeentries_path(format: 'xls') %>
</p>
