<h1>New TimeEntry</h1>

<%= form_for @timeentry do |f| %>
	

	<p>
		<%= select_tag(:project_id, options_for_select(@p)) %>
	</p>

	<p>
		<%= select_tag(:task_id, options_for_select(@t)) %>
	</p>

	<p>
		<%= f.text_area :note, placeholder: 'note' %>
	</p>

	<p>
		<%= f.submit %>
	</p>
<% end %>