<h1>New TimeEntry</h1>

<%= form_for @timeentry do |f| %>
	

	<p>Project:
		<%= f.collection_select(:project_id, Project.all, :id, :project_name) %>
	</p>

	<p>Task:
		<%= f.collection_select(:task_id, Task.all, :id, :task_name) %>
	</p>

	<p>
		<%= f.text_area :note, placeholder: 'note' %>
	</p>

	<p>
		<%= f.submit %>
	</p>
<% end %>